.carousel {
    height: 100vh;
    width: 100%;
    

    .carousel-inner {
        .carousel-item {
            @include backgrounds;
            display: flex;
            justify-content: center;
            align-items: center;
            label {
                display: $block;
                text-align: $align-center;
            }
        }
    }
}
