
.jumbotron {
    background-color: $my-gray-opas;
    width: 60%;
    min-width: $min-width + 50px;
    margin-bottom: 20%;

    p {
        font-weight: 500;
    }

    a {
        margin: $margin-auto;
        display: block !important;
        width: $half-width;
        max-width: 200px;
    }
}
