@mixin my-gradient {
    background: linear-gradient($my-gray-opas, $my-blue-opas);
}

@mixin stylish-button {
    border: none;
    padding: $button-padding;
    height: 100%;
    border-radius: 0;
}

@mixin mail-input {
    width: $half-width !important;
    min-width: $min-width;
    margin: $margin-auto;
}

@mixin backgrounds {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: $full-width;
}

@mixin my-modal {
    background: linear-gradient($my-gray, $my-blue);
    color: $my-font-color;
}